.single{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 300px;
    margin-left: 100px;
    margin-top: 20px;
}

.chap{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: -243px;
    font-size: 18px;
    margin-top: 10px;
}

.l{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: -235px;
    font-size: 18px;
    margin-top: 10px;
}

.right{
    margin-top: -20px;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    text-align: left;
}

.rasm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.bingo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn{
    font-size: 20px;
}

.pv{
    gap: 10px;
    font-size: 20px;
    font-weight: 100;
}

.v{
    display: flex;
    align-items: center;
    justify-content: left;
}

.qwe{
    width: 230px;
    height: 40px;
    background: white;
    color: var(--bg-py);
    border: 2px solid var(--bg-py);
    border-radius: 10px 0 10px 0;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.gul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: -10px;
    margin-top: 20px;
}

.part2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about{
  background: var(--bg-py);
  color: white;
  border-radius: 10px 0 10px 0;
}

.right h2{
    font-size: 30px;
}

.narx p{
    font-size: 19px;
    margin-top: 10px;
}

.heart{
    font-size: 17px;
}


@media (max-width: 768px) {
    .single {
      flex-direction: column;
    }
    
    .left {
      margin-right: 0;
      margin-left: 0;
      margin-top: 20px;
    }
    .rasm{
      display: none;
    }
    /* 8600 0609 5585 4972 */
    
    .right {
      margin-left: 0;
      text-align: center;
      margin-top: 30px;
    }
    
    .cl {
      width: 100%;
      font-size: 16px;
    }
    
    .qwe, .qwer {
      width: 100%;
    }

    .pv{
      margin-left: 43%;
    }
    
    .gul {
      margin-left: 0;
      justify-content: flex-start;
    }
    
    .ai {
      width: 100%;
      margin-top: 20px;
    }
    
    .right h2 {
      font-size: 24px;
    }
    
    .partp, .narx p {
      font-size: 16px;
    }
    
    .v del {
      margin-top: 8px;
      font-size: 14px;
      margin-left: 10px;
    }
    
    .heart {
      font-size: 14px;
    }
    
    .miqdor {
      width: 50px;
    }
  }
  
  @media (max-width: 360px) {
    .single .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      
    
      .swiper-slide img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
  }
  